.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    width: 273px;
    height: 48px;

    border-radius: 8px;
    border: none;
    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
}

.btn.primary {
    background: #ff4d00;
    color: #ffffff;
}


.btn:hover {
    background: #333;
}

.btn.primary:hover {
    background: #e55a00;
}